# Node.js dependencies
/node_modules
/package-lock.json

# Sensitive files
.env
/controllers/config.gmail.env

# Build output
/dist
/build

# Logs
*.log

# Coverage reports
/coverage

# IDE/Editor settings
.vscode/
/.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak